header
	background: url($header-background) center center no-repeat
	background-size: cover
	height: $header-height
	position: fixed
	top: 0
	user-select: none
	width: 100%
	z-index: 2

	h1.title
		color: white
		cursor: default
		float: left
		font-family: $Gotham-Light
		font-size: ms(3)
		line-height: $header-height
		user-select: none
