header
	background: url($header-background) center center no-repeat
	background-size: cover
	height: $header-height
	position: fixed
	top: 0
	width: 100%

	h1
		color: white
		cursor: default
		float: left
		font-size: 2em
		font-weight: 100
		line-height: $header-height
		user-select: none

	.search-icon
		color: white
		font-size: 2em
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		