.resetdata
	background: $color-alizarin
	border-radius: 3px
	bottom: 10px
	color: white
	cursor: pointer
	display: block
	height: 45px
	right: 5px
	line-height: 45px
	text-align: center
	position: fixed
	width: 150px