.form-group
	height: 70px
	margin-bottom: 25px
	position: relative
	width: 100%

	>.field
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, $color-peterriver 2%)
		background-size: 0% 100%
		background-repeat: no-repeat
		border: none
		border-bottom: 1px solid rgba(0,0,0,0.1)
		border-radius: 0
		color: $text-color
		font-family: $Gotham-Book
		font-size: 20px
		font-weight: 300
		height: 45px
		outline: none
		padding: 0
		transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1)
		width: 100%

		&::placeholder
			color: $text-color
			font-size: 18px
			font-weight: 300
			letter-spacing: .8px
			transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1)
			backface-visibility: hidden
			perspective: 1000
			visibility: visible!important

		&:valid, &:focus
			background-size: 100% 100%

			&::placeholder
				font-size: 14px
				font-family: $Gotham-Medium
				transform: translate3d(0%, -115%, 0)

	>.action
		background: none
		border: none
		cursor: pointer
		color: #333
		float: left
		height: 70px
		letter-spacing: .8px
		line-height: 70px
		margin: 0
		padding: 0
		position: relative
		text-align: center
		transition: all .2s ease
		overflow: hidden
		width: 50%

		span
			display: block
			transition: all .3s ease
			transition-delay: .2s

		&:after
			font-family: 'icomoon'
			left: 50%
			position: absolute
			transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
			transition-delay: 0s
			transform: translate3d(-50%, -50%, 0)
			backface-visibility: hidden
			perspective: 1000
			opacity: 0

		&:hover
			span
				transform: translate3d(0, -50%, 0)
				transition-delay: 0s
				opacity: 0

			&:after
				transform: translate3d(-50%, -100%, 0)
				transition-delay: .15s
				opacity: 1


		&.cancel
			&:after
				content: "\e117"

			&:hover
				background: $page-background

			
		&.submit
			border-left: 1px solid rgba(0,0,0,0.1)
			&:after
				content: "\e116"
				color: white
			&:hover
				background: $color-wetasphalt

		&.hide
			opacity: 0

.search-field
	background: $page-background
	border: none
	height: 70px
	font-family: $Gotham-Light
	font-size: 24px
	margin: 20px 0
	outline: none
	//padding: 0 20px
	width: 100%
	z-index: 3






