
<div id="linkcontainer">
  <div class="page-wrapper">
    <linkcontainer class="animated fadeInUpe">
      <div class="header"> <span>LINKS</span></div>
      <div class="list">
        <div ng-repeat="link in links" class="link">
          <div class="icon icon-ribbon"></div>
          <div title="test" class="title">{{ link.title }}</div>
          <div class="linktext">{{ link.url }}</div>
          <div class="link-controls"><a href="{{ link.url }}" target="_blank" class="icon icon-open"></a>
            <div ng-click="openEditLink()" class="icon icon-create"></div>
            <div ng-click="links.$remove(link)" class="icon icon-trash"></div>
          </div>
        </div>
      </div>
    </linkcontainer>
  </div>
</div>
<div id="addlink-modal" ui-view=""></div>