
<div class="addlink-form">
  <div class="header">
    <h3 class="title">EDIT LINK</h3><i ng-click="cancel()" class="icon icon-cross"></i>
  </div>
  <!--p http://tympanus.net/Development/DialogEffects/cathy.html-->
  <div class="main">
    <div class="form-group">
      <input type="text" id="input-title" placeholder="TITLE" required="required" ng-model="link.title" class="field"/>
    </div>
    <div class="form-group">
      <input type="text" id="input-url" placeholder="URL" required="required" ng-model="link.url" class="field"/>
    </div>
    <div class="form-group">
      <input type="text" id="input-key" placeholder="KEYWORDS" required="required" class="field"/>
    </div>
  </div>
  <div class="footer">
    <div class="form-group">
      <div ng-click="cancel()" class="action cancel"> <span>CANCEL</span></div>
      <div ng-click="save()" class="action submit"> <span>SAVE THIS LINK</span></div>
    </div>
  </div>
</div>