
<div id="addlink">
  <div class="addlink-form page-wrapper">
    <div class="header">
      <h3 class="title">ADD A NEW LINK</h3><i class="icon fa fa-times"></i>
    </div>
    <!--p http://tympanus.net/Development/DialogEffects/cathy.html-->
    <div class="main">
      <div class="form-group">
        <input type="text" id="input-title" required="required" class="field"/>
        <label for="input-title">TITLE</label>
      </div>
      <div class="form-group">
        <input type="text" id="input-url" required="required" class="field"/>
        <label for="input-url">URL</label>
      </div>
      <div class="form-group">
        <input type="text" id="input-key" required="required" class="field"/>
        <label for="input-key">KEYWORDS</label>
      </div>
    </div>
    <div class="footer">
      <div class="form-group">
        <div class="action cancel">CANCEL</div>
        <div class="action submit">SUBMIT THIS LINK</div>
      </div>
    </div>
  </div>
</div>