
html(lang="en")
	head
		include ./templates/html-header.jade

	body(ng-app="linkmanApp" ng-controller="mainController")

		header
			.page-wrapper
				h1
					.icon.fa.fa-connectdevelop 
					span  LINKMAN
				//.search-icon
					.icon.fa.fa-search

		main

			section(ng-view)



		//footer
			.page-wrapper
				.icon.fa.fa-code  dominic kolbe




		.add
			input(type="text" ng-model="title")
			input(type="text" ng-model="url")
			input(type="button" value="hinzufügen" ng-click="add()")


			i.resetdata(ng-click="reset()") reset data

			i.adddata(ng-click="") add data

		include ./templates/html-footer.jade
	