
html(lang="en")
	head
		include ./templates/html-header.jade

	body(ng-app="linkmanApp" ng-controller="AppController")

		header
			.page-wrapper
				h1.title
					.icon.fa.fa-connectdevelop 
					span  LINKMAN
				.action(ng-click="openAddLink()") ADD NEW LINK

		main(ui-view='')


		//footer
			.page-wrapper
				.icon.fa.fa-code  dominic kolbe


		include ./templates/html-footer.jade
	