
html(lang="en")
	head
		include ./templates/html-header.jade

	body(ng-app="linkmanApp" ng-controller="AppController")

		header
			.page-wrapper
				h1.title
					.icon.fa.fa-connectdevelop 
					span  LINKMAN
					
				.add-button(ng-click="openAddLink()") ADD NEW LINK

		main(ui-view='')

		svg(class="circular" height="50" width="50" ng-show="showpreloader")
			circle(class="path" cx="25" cy="25" r="20" fill="none" stroke-width="1.5" stroke-miterlimit="10")

		mask(ng-show="showmask")


		footer
			.page-wrapper
				//p  dominic kolbe


		include ./templates/html-footer.jade
	