html, body
	background: $page-background
	font-family: $Gotham-Book
	height: 100%
	width: 100%
	-webkit-font-smoothing: antialiased

body
	padding: 70px 0

	

.page-wrapper
	display: table
	margin: 0 auto
	position: relative
	width: $page-width

	@include is-small-screen
		width: 90%


main
	margin-bottom: $header-height


mask
	background: rgba(0,0,0,.5)
	height: 100%
	position: fixed
	top: 0
	transition: all .2s ease
	opacity: 1
	width: 100%
	z-index: 3

	&.ng-hide
		opacity: 0
	&.ng-show
		opacity: 1



::selection
	background: #333
	color: white
