@charset "UTF-8";
/* IMPORT ALL SUB-SASS-FILES */
/* page-dims */
/* fonts */
/* images */
/* coolors */
/* usage:  @include is-#### */
/* usage: @include clearfix */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url("Gotham/font.css");
@import url("Icons/font.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, linkcontainer, addlink, mask {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  background: #fbfbfb;
  font-family: "Gotham-Book", "Lato", "Helvetica", "Arial", "sans-serif";
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 70px 0 0 0;
}

.page-wrapper {
  display: table;
  margin: 0 auto;
  position: relative;
  width: 1200px;
}
@media only screen and (max-width: 1200px) {
  .page-wrapper {
    width: 100%;
  }
}

main {
  margin-bottom: 70px;
}

mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  width: 100%;
  z-index: 2;
}
mask.ng-hide {
  opacity: 0;
}
mask.ng-show {
  opacity: 1;
}

::-moz-selection {
  background: #333;
  color: white;
}

::selection {
  background: #333;
  color: white;
}

header {
  background: url("/img/bg.jpg") center center no-repeat;
  background-size: cover;
  height: 70px;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 1;
}
header h1.title {
  color: white;
  cursor: default;
  float: left;
  font-family: "Gotham-Light", "Lato", "Helvetica", "Arial", "sans-serif";
  font-size: 2em;
  line-height: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .action {
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  font-size: 14px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  position: relative;
  width: 180px;
}
header .action span {
  color: white;
  display: block;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
header .action:after {
  content: "";
  color: black;
  font-family: "icomoon";
  left: 50%;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  opacity: 0;
}
header .action:hover {
  background: white;
  color: #333;
}
header .action:hover span {
  color: black;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}
header .action:hover:after {
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0);
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  opacity: 1;
}

footer {
  background: white;
  bottom: 0;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

#addlink-modal {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 800px;
  z-index: 3;
  -webkit-animation-delay: 0.01s;
          animation-delay: 0.01s;
  -webkit-animation-duration: 0;
          animation-duration: 0;
}
@media only screen and (max-width: 1200px) {
  #addlink-modal {
    width: 100%;
  }
}
#addlink-modal.ng-enter {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: linkcontainerbounceInDown;
          animation-name: linkcontainerbounceInDown;
}
#addlink-modal.ng-leave {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: linkcontainerbounceInDown;
          animation-name: linkcontainerbounceInDown;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}

.addlink-form {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.addlink-form > .header {
  background: white;
  border-top: 2px #3498db solid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 60px;
}
.addlink-form > .header > h3.title {
  color: #2c3e50;
  float: left;
  letter-spacing: 0.05em;
  line-height: 60px;
  padding-left: 20px;
}
.addlink-form > .header > .icon {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 60px;
  float: right;
  line-height: 60px;
  text-align: center;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
  width: 60px;
}
.addlink-form > .header > .icon:hover {
  color: rgba(0, 0, 0, 0.7);
}
.addlink-form > .header > .icon:active {
  color: black;
  -webkit-transition: none;
          transition: none;
}
.addlink-form > .main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  padding: 40px 25px 0;
  width: 100%;
}
.addlink-form > .footer {
  height: 70px;
  width: 100%;
}

@-webkit-keyframes linkcontainerbounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes linkcontainerbounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
}
.resetdata, .adddata {
  background: #e74c3c;
  border-radius: 3px;
  bottom: 10px;
  color: white;
  cursor: pointer;
  display: block;
  height: 45px;
  right: 5px;
  line-height: 45px;
  text-align: center;
  position: fixed;
  width: 150px;
}

.adddata {
  background: #2980b9;
  left: 5px;
}

.form-group {
  height: 70px;
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}
.form-group > .field {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #3498db 2%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #3498db 2%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  color: #2c3e50;
  font-family: "Gotham-Book", "Lato", "Helvetica", "Arial", "sans-serif";
  font-size: 20px;
  font-weight: 300;
  height: 45px;
  outline: none;
  padding: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
}
.form-group > .field::-webkit-input-placeholder {
  color: #2c3e50;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  visibility: visible !important;
}
.form-group > .field::-moz-placeholder {
  color: #2c3e50;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.8px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  backface-visibility: hidden;
  perspective: 1000;
  visibility: visible !important;
}
.form-group > .field:-ms-input-placeholder {
  color: #2c3e50;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.8px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  backface-visibility: hidden;
  perspective: 1000;
  visibility: visible !important;
}
.form-group > .field::placeholder {
  color: #2c3e50;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  visibility: visible !important;
}
.form-group > .field:valid, .form-group > .field:focus {
  background-size: 100% 100%;
}
.form-group > .field:valid::-webkit-input-placeholder, .form-group > .field:focus::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Gotham-Medium", "Lato", "Helvetica", "Arial", "sans-serif";
  -webkit-transform: translate3d(0%, -115%, 0);
          transform: translate3d(0%, -115%, 0);
}
.form-group > .field:valid::-moz-placeholder, .form-group > .field:focus::-moz-placeholder {
  font-size: 14px;
  font-family: "Gotham-Medium", "Lato", "Helvetica", "Arial", "sans-serif";
  transform: translate3d(0%, -115%, 0);
}
.form-group > .field:valid:-ms-input-placeholder, .form-group > .field:focus:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Gotham-Medium", "Lato", "Helvetica", "Arial", "sans-serif";
  transform: translate3d(0%, -115%, 0);
}
.form-group > .field:valid::placeholder, .form-group > .field:focus::placeholder {
  font-size: 14px;
  font-family: "Gotham-Medium", "Lato", "Helvetica", "Arial", "sans-serif";
  -webkit-transform: translate3d(0%, -115%, 0);
          transform: translate3d(0%, -115%, 0);
}
.form-group > .action {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  float: left;
  height: 70px;
  letter-spacing: 0.8px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  overflow: hidden;
  width: 50%;
}
.form-group > .action span {
  display: block;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.form-group > .action:after {
  font-family: "icomoon";
  left: 50%;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  opacity: 0;
}
.form-group > .action:hover span {
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}
.form-group > .action:hover:after {
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0);
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  opacity: 1;
}
.form-group > .action.cancel:after {
  content: "";
}
.form-group > .action.cancel:hover {
  background: #fbfbfb;
}
.form-group > .action.submit {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.form-group > .action.submit:after {
  content: "";
  color: white;
}
.form-group > .action.submit:hover {
  background: #34495e;
}
.form-group > .action.hide {
  opacity: 0;
}

.search-field {
  background: #fbfbfb;
  border: none;
  height: 70px;
  font-family: "Gotham-Light", "Lato", "Helvetica", "Arial", "sans-serif";
  font-size: 24px;
  margin: 20px 0;
  outline: none;
  width: 100%;
  z-index: 3;
}

linkcontainer {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
linkcontainer > .header {
  background: white;
  border-top: 2px #3498db solid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  height: 60px;
  letter-spacing: 0.05em;
  padding: 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
linkcontainer > .header > .title {
  line-height: 60px;
}
linkcontainer > .header > .count {
  background: #3498db;
  border-radius: 2px;
  color: white;
  float: right;
  font-family: "Gotham-Medium", "Lato", "Helvetica", "Arial", "sans-serif";
  font-size: 12px;
  margin: 17px 0;
  padding: 5px 10px;
}
linkcontainer > .list {
  height: 100%;
}

.link {
  height: 40px;
  width: 100%;
  background: #f9f9f9;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.link:nth-child(2n) {
  background: white;
}
.link.ng-enter-stagger {
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
  -webkit-transition-duration: 0;
          transition-duration: 0;
}
.link.ng-leave.ng-leave-active, .link.ng-move, .link.ng-enter {
  opacity: 0;
}
.link.ng-leave, .link.ng-move.ng-move-active, .link.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.link .icon {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 40px;
  float: left;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 200ms ease-in-out;
          transition: color 200ms ease-in-out;
  width: 40px;
}
.link .title {
  color: #2c3e50;
  cursor: default;
  float: left;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 40px;
  padding-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}
@media only screen and (max-width: 1200px) {
  .link .title {
    width: 50%;
  }
}
.link .linktext {
  color: #2c3e50;
  float: left;
  font-size: 12px;
  line-height: 40px;
  padding-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 730px;
}
@media only screen and (max-width: 1200px) {
  .link .linktext {
    display: none;
  }
}
.link:hover .link-controls {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  opacity: 1;
}
.link .link-controls {
  float: right;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  opacity: 0;
}
@media only screen and (max-width: 1200px) {
  .link .link-controls {
    display: none;
  }
}
.link .link-controls .icon:hover {
  color: rgba(0, 0, 0, 0.7);
}
.link .link-controls .icon:active {
  color: #34495e;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 50px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
      -ms-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
  width: 50px;
}
.circular.ng-show {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}
.circular.ng-hide {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  opacity: 0;
}

.path {
  stroke-dasharray: 1, 500;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #3498db;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
