.addlink-form
	.header
		h3.title ADD A NEW LINK
		i.icon.icon-cross(ng-click="cancel()")
	//p http://tympanus.net/Development/DialogEffects/cathy.html
	.main
		.form-group
			input.field(type="text" id="input-title" placeholder="TITLE" required ng-model="title" value="test")
			
		.form-group
			input.field(type="text" id="input-url" placeholder="URL" required ng-model="url")
			
		.form-group
			input.field(type="text" id="input-key" placeholder="KEYWORDS" required)

	.footer
		.form-group
			.action.cancel.icon(ng-click="cancel()") 
				span CANCEL
			.action.submit(ng-click="submit()") 
				span ADD LINK