.addlink-form
	.header
		h3.title EDIT LINK
		i.icon.icon-cross(ng-click="cancel()")
	//p http://tympanus.net/Development/DialogEffects/cathy.html
	.main
		.form-group
			input.field(type="text" id="input-title" placeholder="TITLE" required ng-model="link.title")
			
		.form-group
			input.field(type="text" id="input-url" placeholder="URL" required ng-model="link.url" )
			
		.form-group
			input.field(type="text" id="input-key" placeholder="TAGS" required ng-model="link.tags")

	.footer
		.form-group
			.action.cancel(ng-click="cancel()") 
				span CANCEL
			.action.submit(ng-click="save()") 
				span SAVE THIS LINK