#linkcontainer
	.page-wrapper
		linkcontainer.animated.fadeInUpe
			.header 
				span LINKS
			.list
				.link.animate-repeat(ng-repeat="link in links")
					.icon.fa.fa-bookmark-o
					.title(title="test") {{ link.title }}
					.linktext {{ link.url }}
					.link-controls
						.icon.fa.fa-files-o
						.icon.fa.fa-pencil(ng-click="openEditLink()")
						.icon.fa.fa-trash-o(ng-click="links.$remove(link)")


#addlink-modal(ui-view='')
