#linkcontainer
	.page-wrapper
		linkcontainer.animated.fadeInUpe
			.header 
				span LINKS
			.list
				.link(ng-repeat="link in links")
					.icon.icon-ribbon
					.title(title="test") {{ link.title }}
					.linktext {{ link.url }}
					.link-controls
						a(href="{{ link.url }}" target="_blank").icon.icon-open
						.icon.icon-create(ng-click="openEditLink()")
						.icon.icon-trash(ng-click="links.$remove(link)")


#addlink-modal(ui-view='')
