#addlink
	.addlink-form.page-wrapper
		.header
			h3.title ADD A NEW LINK
			i.icon.fa.fa-times
		//p http://tympanus.net/Development/DialogEffects/cathy.html
		.main
			.form-group
				input.field(type="text" id="input-title" required)
				label(for="input-title") TITLE
				
			.form-group
				input.field(type="text" id="input-url" required)
				label(for="input-url") URL
				
			.form-group
				input.field(type="text" id="input-key" required)
				label(for="input-key") KEYWORDS
		.footer
			.form-group
				.action.cancel CANCEL
				.action.submit SUBMIT THIS LINK